<!-- Categorias por areas 
  -Tabla con un título de área y listado de categorías por area
  -Botón de ingresar producto-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/mdb.min.css" rel="stylesheet">
  <title>Control de Invetarios</title>
</head>
<body>

<!-- TABLA AREAS Y CATEGORÍAS -->
<table class="table table-striped table-hover">
  <thead>
    <th scope="col">Áreas</th>
    <th scope="col">Categorías</th>
  </thead>
  
  <tbody id="areas_categorias">

  </tbody>
</table>


  <!--  BOTÓN DE INGRESO DE NUEVOS PRODUCTOS -->

  <button id="btn_ingresar" type="button" class="btn btn-outline-danger" data-mdb-ripple-color="dark">
    Ingresar Producto
    
  </button>
  
  <script src="../js/index.js"></script>
  
</body>
</html>